<% include ./partials/head.ejs %>
<% include ./partials/header.ejs %>
<% include ./partials/navigation.ejs %>
    <main class="main">
        <h1 class="main-title"><%= title %></h1>
        <p><%- site.maintext %></p>
        <img src="/images/site-content/<%- site.mainimage %>" alt="">

        <% if(products.length == 0) { %>
            <p>Der er ingen produkter at vise</p>
        <% } %>

        <% products.forEach(product => { %>
            <article class="product">
                <a href="/produkt/<%= product.id %>">
                <img class="list-product-image" src="images/uploads/<%= product.image %>" alt="">
                <%= product.name %>
                </a>
            </article>
        <% }); %>
    </main>
<% include ./partials/footer.ejs %>
<% include ./partials/after-footer.ejs %>